body {
	height: 100vh;
	margin: 0px;
}

section {
	height: 100vh;
    width: 100%;
}

#intro {
	background-color: black;
}

#main-title-text {
	text-align: center;
	font-family: 'Inter-ExtraBold';
	font-size: 72px;
	color: white;

	margin: auto;
	top: 42vh;
	position: relative;
}

#not-found {
	background-color: black;
}

#not-found-text {
	text-align: center;
	font-family: 'Inter-ExtraBold';
	font-size: 72px;
	color: white;

	margin: auto;
	top: 42vh;
	position: relative;
}

@font-face {
	font-family: 'Inter-ExtraBold';
	src: url(assets/fonts/Inter-ExtraBold.ttf);
}